<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Application Alchi | @ViewData["Title"]</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/_content/AdminLteTheme.AspNetCore/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/_content/AdminLteTheme.AspNetCore/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/_content/AdminLteTheme.AspNetCore/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/_content/AdminLteTheme.AspNetCore/plugins/jqvmap/jqvmap.min.css">
    <!-- Select2 style -->
    <link rel="stylesheet" type="text/css" href="~/_content/AdminLteTheme.AspNetCore/plugins/select2/select2.css" />
    <!-- Theme style -->
    <link rel="stylesheet" href="~/_content/AdminLteTheme.AspNetCore/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/_content/AdminLteTheme.AspNetCore/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/_content/AdminLteTheme.AspNetCore/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/_content/AdminLteTheme.AspNetCore/plugins/summernote/summernote-bs4.min.css">


    @await RenderSectionAsync("CssStyle", required: false)
</head>
<body class="hold-transition login-page">
    @RenderBody()

    <environment include="Development">
        <script src="~/_content/AdminLteTheme.AspNetCore/plugins/jquery/jquery.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/_content/AdminLteTheme.AspNetCore/plugins/jquery/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
    </environment>
    <!-- jQuery UI -->
    <script src="~/_content/AdminLteTheme.AspNetCore/plugins/jquery-ui/jquery-ui.min.js"></script>

    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>

    <!-- Bootstrap 4 -->
    <environment include="Development">
        <script src="~/_content/AdminLteTheme.AspNetCore/plugins/bootstrap/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/_content/AdminLteTheme.AspNetCore/plugins/bootstrap/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>

    <!-- Select2 JS -->
    <script type="text/javascript" src='~/_content/AdminLteTheme.AspNetCore/plugins/select2/select2.js'></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
