@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmation de réinitialisation du mot de passe";
}

<div class="login-box">
    <div class="login-logo">
        <a href="~/"><b>Application Alchi</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <h4 class="login-box-msg">@ViewData["Title"]</h4>
            <p class="login-box-msg">Vous allez recevoir un email pour réinitialiser votre mot de passe.</p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>
<!-- /.login-box -->

