@page
@model LockoutModel
@{
    ViewData["Title"] = "Compte bloqué";
}

<div class="login-box">
    <div class="login-logo">
        <a href="~/"><b>Application Alchi</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <h4 class="login-box-msg text-danger">@ViewData["Title"]</h4>
            <p class="login-box-msg text-danger">Ce compte a été bloqué, veuillez réessayer plus tard.</p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>
<!-- /.login-box -->
