@page
@model LoginWithRecoveryCodeModel
@{
    ViewData["Title"] = "Recovery code verification";
}

<div class="login-box">
    <div class="login-logo">
        <a href="~/"><b>Application Alchi</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">
                Vous avez demandé de vous identifier avec un code de récupération. Cet identifiant ne sera pas gardé jusqu'à ce que vous récupériez
                un code de récupération d'une application d'authentification ou désactiviez la double authentification et vous identifiez à nouveau.
            </p>

            <form method="post">
                @*<h4>Utiliser votre compte utilisateur pour l'application Alchi.</h4>
            <hr />*@
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="input-group mb-3">
                    @*<label asp-for="Input.RecoveryCode" class="form-control"></label>*@
                    <input asp-for="Input.RecoveryCode" class="form-control" autocomplete="off" placeholder="Code de récupération" />
                    <div class="input-group-append">
                        <span class="fa fa-envelope input-group-text"></span>
                    </div>
                    <span asp-validation-for="Input.RecoveryCode" class="text-danger"></span>
                </div>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">S'identifier</button>
                    </div>
                    <!-- /.col -->
                </div>

                <p class="mb-0">
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="text-center">Créer un nouveau compte</a>
                </p>
            </form>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>
<!-- /.login-box -->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
