@page
@model LogoutModel
@{
    ViewData["Title"] = "Déconnexion";
}

<div class="login-box">
    <div class="login-logo">
        <a href="~/"><b>Application Alchi</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <h4 class="login-box-msg">@ViewData["Title"]</h4>
            <p class="login-box-msg">Vous avez été déconnecté de l'application Alchi avec succès.</p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>
<!-- /.login-box -->
