@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmation de la réinitialisation du mot de passe";
}

<div class="login-box">
    <div class="login-logo">
        <a href="~/"><b>Application Alchi</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <h4 class="login-box-msg">@ViewData["Title"]</h4>
            <p class="login-box-msg">Votre mot de passe a été réinitialisé. Merci de <a asp-page="./Login">cliquer ici pour vous connecter</a>.</p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>
<!-- /.login-box -->
